.app-title {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.app-description {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.96rem;
}

.app-image {
    width: 160px;
    aspect-ratio: 1/1;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    position: relative;
    top: 50px;
    z-index: 1;
}

/* Button Links styling */

.links img {
    width: 200px;
}

.links a {
    text-decoration: none;
}

/* links button */

.link-button {
	color: #FFFFFF;
	border-radius: 4px;
	border: solid 1px #000;
	text-shadow: 1px 1px 0px #000000;
	box-shadow: inset 1px 1px 0px 0px #000000;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-family: Georgia;
	background: #4a4a4a;
	display: inline-flex;
	align-items: center;
	padding: 0;
    height: 50px;
}
.link-button:hover {
	background: #616161;
}
.link-button-text {
    font-size: 0.9rem;
	position: relative;
	padding: 0px 12px;
    padding-right: 24px;
}
.link-button-icon {
	position: relative;
	border-right: 1px solid #ffffff29;
	box-shadow: inset rgb(0 0 0 / 14%) -1px 0 0;
	padding: 0px 0px;
}
.link-button-icon > i {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 40px;
}

/* Contact Me - Mail button */

.mail-btn {
    display: inline-block;
    position: relative;
    margin: 16px;
    padding: 12px 16px;
    border: 2px solid #FFF;
    overflow: hidden;
    font-size: 0.9rem;
    color: #FFF;
    background: #c93e3e;
    width: 240px;
    max-width: 90%;
}

.mail-btn span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.mail-btn i {
    display: inline;
    font-size: 0.9rem;
    margin: 0;
    padding-left: 0;
}

.mail-btn:before,
.mail-btn:after {
    content: '';
    position: absolute;
    /* top: 0.85em; */
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.mail-btn:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.mail-btn:after {
    content: attr(data-active);
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.mail-btn:hover span,
.mail-btn:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.mail-btn:hover:before,
.mail-btn:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.mail-btn:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

/* Dev Logos */

.dev-logos {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

/* Tooltip text */

.dev-logos .dev-icon {
    position: relative; /* so that tooltip can have absolute positioning relative to this (parent) */
}

.dev-logos .dev-icon .dev-tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 8px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  white-space: nowrap;
  font-size: 0.8rem;

  left: 50%;
  transform: translateX(-50%);
  top: -75%;
}

/* Add arrow using ::before pseudo-element */
.dev-logos .dev-icon .dev-tooltip::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px; /* Adjust arrow position */
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.dev-logos .dev-icon:hover .dev-tooltip {
  visibility: visible;
}