/* Main body styling */

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Garamond, 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* background-image: url("https://img.freepik.com/free-vector/line-background-wave-gradient-template-design_483537-5082.jpg?w=1380&t=st=1705081460~exp=1705082060~hmac=ed4a4421b02bb52a304acf89bfec458fa6c461cf489cce25ba3288a625d58353");
    background-size: cover; */
    display: flex;
    flex-direction: column;
}

/* Top profile section styling */

.profile {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.avatar {
    border-radius: 50%;
    width: 140px; /* Adjust the size as needed */
    height: auto;
    border: 2px solid #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .8);
}

.profile-info {
    max-width: 900px;
    margin: 0 auto;
}

.role {
    font-size: 1.3em;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2em;
}

.contact, .social {
    margin-top: 0px;
    font-size: 1.1em;
}

.contact a, .social a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.social a:hover {
    text-decoration: underline;
}

/* Showcase styling */

.showcase {
    display: block;
    align-items: center;
    text-align: center;
    margin: 16px 0px;
}

/* Showcase section and divider */

.showcase-section {
    margin-bottom: 40px;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.section-title-holder {
    text-align: center;
    display: block;
    margin: 80px 16px 16px 16px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
}

.section-title h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0px;  /* Remove margin for h3 */
    margin: 0px 60px 12px 60px;
}

.section-title .divider {
    width: 100%;
    height: 2px;
    background-color: #3498db;
    margin: 0 auto 0px;
}

/* Showcase item and card */

.showcase-item {
    display: inline-block;
    position: relative;
    margin: 4px 4px;
    padding: 0px 16px;

    border-radius: 16px;

    transition: transform 0.5s, background-color 0.2s linear;
    -webkit-transition: transform 0.5s, background-color 0.2s linear;
    -ms-transition: transform 0.5s, background-color 0.2s linear;
    transition: transform 0.5s, background-color 0.2s linear;

    transform: scale(0.94);

    
    max-width: 88%;

    /* background-color: #3498db; */
}

.showcase-item:hover {
    background-color: #d6d6d6;
    transform: scale(1);

    z-index: 1;
}

/* .showcase-item:hover .app-image {
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    transition: transform 0.5s;

    transform: scale(1.1);
} */

.card {
    width: 390px;
    max-width: 100%;
    height: 320px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

    /* overflow: hidden; */

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    /* position: relative;
    top: -50px; */
    
    /* z-index: -1; */
    /* box-sizing: border-box; */
}

/* .card:hover {
    height: 350px;
    -webkit-transition: height 0.5s linear;
    -ms-transition: height 0.5s linear;
    transition: height 0.5s linear;
} */

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;

    margin: 30px;
}

/* Add a new class for the flipped state */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
}

.app-details {
    padding: 0px 16px;
    margin-top: 36px;

    /* display: flex;
    flex-flow: column; */
}

.card-front .app-details {
    color: black;
}

.card-back .app-details {
    color: rgb(0, 0, 0);
}

/* note: more .app-datails styling in app-details-style.css file */

/* Footer styling */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}