/* Main body styling */

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Garamond, 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* background-image: url("https://img.freepik.com/free-vector/line-background-wave-gradient-template-design_483537-5082.jpg?w=1380&t=st=1705081460~exp=1705082060~hmac=ed4a4421b02bb52a304acf89bfec458fa6c461cf489cce25ba3288a625d58353");
    background-size: cover; */
    display: flex;
    flex-direction: column;
}

/* Top profile section styling */

.profile {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.avatar {
    border-radius: 50%;
    max-width: 140px; /* Adjust the size as needed */
    height: auto;
}

.profile-info {
    max-width: 900px;
    margin: 0 auto;
}

.role {
    font-size: 1.1em;
    font-weight: bold;
    color: #3498db;
    margin-bottom: 20px;
}

.description {
    font-size: 1em;
}

.contact, .social {
    margin-top: 0px;
    font-size: 0.9em;
}

.contact a, .social a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.social a:hover {
    text-decoration: underline;
}

/* Showcase styling */

.showcase {
    display: block;
    align-items: center;
    text-align: center;
    margin: 16px 0px;
}

.showcase-section {
    margin-bottom: 40px;
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.section-title-holder {
    text-align: center;
    display: block;
    margin: 80px 16px 16px 16px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
}

.section-title h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0px;  /* Remove margin for h3 */
    margin: 0px 60px 12px 60px;
}

.section-title .divider {
    width: 100%;
    height: 2px;
    background-color: #3498db;
    margin: 0 auto 0px;
}

/* .showcase-section h2 {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
} */

/* .app-container {
    max-width: 180px;
    width: 100%;
    height: 450px;
    margin: 10px 20px 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
}

.app-image {
    width: 98%;
    aspect-ratio: 1/1;
}

.app-details {
    padding: 0px 12px 0px 12px;
} */

.app-container-outer {
    display: inline-block;
    margin: 12px 8px;
}

.app-container {
    width: 320px;
    margin: 0px 16px;
    padding: 8px 16px 16px 16px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(245, 244, 244);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.app-details {
    width: 100%;
    height: 250px;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;

    /* flex: 1 */
}

.app-title {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.app-image {
    width: 120px;
    aspect-ratio: 1/1;
}

/* Footer styling */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}